// Color
$brownButtonDefault: #7D4A48;
$brownButtonActive:  #965956;
$darkText: #1B1B1B;
$green: #52614D;
$greyBg: #F5F4F3;
$greyInputDefault: #9B9B9B;
$redError: #D26552;
$white: #fff;
$yellow: #C1A063;

// Margins & Paddings
$gridPaddingDesktop: 0 128px;
$gridPaddingMobile: 0 16px;

// Transitions
$mainTransition: 0.4s cubic-bezier(0.79,0.14,0.15,0.86);

// Mixins
@mixin globalWrapper {
  padding:  $gridPaddingMobile;
  @media (width > 960px) {
    margin: 0 auto;
    max-width: 1280px;
    padding: $gridPaddingDesktop;
  }
}
