body {
  background-color: $greyBg;
}
.container {
 @include globalWrapper;
}

// Buttons
@mixin btn{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px 0;
  width: 256px;
  height: 64px;
  min-width: 256px;
  text-decoration: none;
  transition: $mainTransition;
  @include caption;
}

.btn--filled {
  border: none;
  background-color: $brownButtonDefault;
  color: $white;
  @include btn;
  &:hover {
    background-color: $brownButtonActive;
  }
  &:focus {
    outline: none;
    background-color: $brownButtonActive;
  }
  &:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: $greyInputDefault;
  }
}

.btn--outlined {
  border: solid $brownButtonDefault 2px;
  background-color: transparent;
  color: $brownButtonDefault;
  @include btn;
  &:hover {
    border: solid $brownButtonActive 2px;
    color: $brownButtonActive;
  }
  &:focus {
    outline: none;
    border: solid $brownButtonActive 2px;
    color: $brownButtonActive;
  }
  &:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    color: $greyInputDefault;
    border: solid $greyInputDefault 2px;
    &:hover {
      background-color: transparent;
    }
  }
}

.btn--close-modal {
  cursor: pointer;
  display: grid;
  border: none;
  background-color: transparent;
  transition: fill $mainTransition;
  & svg > path {
    transition: $mainTransition;
  }
  &:hover svg > path {
    fill: $brownButtonDefault;
  }
}

// Links
a.nuxt-link-exact-active {
  color: $brownButtonDefault;
}

// Form elements
// inputs
.v-input {
  width: 256px;
  height: 48px;
  padding: 16px 11px;
  border: 1px solid $darkText;
  color: $darkText;
  @include body1;
  &::placeholder {
    color: $greyInputDefault;
  }
  &:focus {
    outline: none;
  }
  &--error {
    border: 1px solid $redError;
  }
}

// SVGs
.pattern {
  pointer-events: none;
}

// Sections
@mixin images-grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-gap: 20px;
  align-items: stretch;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  @media (width > 516px) {
    grid-template-columns: repeat(3, minmax(135px, 232px));
  }
  @media (width > 1016px) {
    grid-template-columns: repeat(auto-fill, minmax(135px, 232px));
    grid-gap: 32px;
  }
}
